main article {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

main article .item {
    position: absolute;
    display: block;
    margin: 10px;
    height: auto;
    width: calc(50% - 20px);
}

main article .item .enlace-img {
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

main article .item .enlace-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media screen and (max-width: 720px) {
    main article .item h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 540px) {
    main article .item {
        width: calc(100% - 20px);
    }
}